body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
    min-width: 320px;
}
/* Header */
.header{
    display: flex;
    justify-content: center;
}
.header__top{
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    justify-content: space-between;
    align-items: center;
}
.header__wrap{
    width: 1341px;
}
.header__merits{
    margin-top: 25px;
}

/* logo */
.logo{
    width: 130px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo__image{
    width: 100%;
    height: auto;
}

/* Menu */
.menu__item{
    font-weight: 600;
    color: #000000;
    margin-right: 44px;
    text-decoration: none;
    position: relative;
    transition: .3s;
}
.menu__item:last-child{
    margin-right: 0;
}
.menu__item:hover{
    color: #e51937;
    transition: .3s;
}
.menu__item:hover:after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: url('../img/border.svg') no-repeat;
    position: absolute;
    background-size: cover;
    left: 0;
    bottom: -5px;
    transition: .3s;
}
.menu__item_active{
    color: #e51937;
}

.menu__item_active:after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: url('../img/border.svg') no-repeat;
    position: absolute;
    background-size: cover;
    left: 0;
    bottom: -5px;
}

/* Actions */
.actions{
    display: flex;
    align-items: center;
}
.actions__link{
    font-weight: 600;
    color: #000000;
    margin-right: 30px;
    text-decoration: none;
    transition: .3s;
}
.actions__link:hover{
    color: #e51937;
    transition: .3s;
}
.actions__button{
    background: none;
    border: none;
    padding: 0;
}
.actions__button:hover{
    cursor: pointer;
}
.actions__button:focus{
    outline: none;
}

/* Title */
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.title__model{
    font-size: 90px;
    font-weight: 600;
    margin-top: 58px;
    margin-bottom: 0;
}
.title__image{
    width: 968px;
    margin-top: 25px;
}
.title__slogan{
    font-size: 15px;
    font-weight: medium;
    margin: 0;
    margin-top: -10px;  
}
.title__overlay{
    position: absolute;
    top: 58px;
    left: -48px;
    width: 100%;
    z-index: -2;
}

/* Merits */
.merits__list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.merits__item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 80px;
}
.merits__item:last-child{
    margin-right: 0;
}
.merits__value{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}
.merits__value_up{
    text-transform: uppercase;
}
.merits__value span{
    font-size: 35px;
}
.merits__icon{
    height: 60px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.merits__btn{
    display: inline-block;
    border:2px solid #E51937;
    font-size: 13px;
    line-height: 16px;
    padding: 10px 42px;
    text-transform: uppercase;
    color: #e51937;
    text-decoration: none;
    font-weight: bold;
    transition: .3s;
}
.merits__btn:hover{
    transition: .3s;
    background-color: #e51937;
    color: #ffffff;
}
.merits__descr{
    font-weight: normal;
    font-size: 12px;
}

/* Arrow */
.arrow{
    display: flex;
    justify-content: center;
    animation: arrow  2s infinite ease;
    padding-bottom: 20px;
}

/* Анимиация */

@keyframes arrow {
    from {transform: translateY(0);}
    50% {transform: translateY(20px)}
    to {transform: translateY(0);}
}


/* ----------------------------------------------------------------------------------- */

/* Блок specifications */

.specifications{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.specifications__wrap{
    width: 1341px;
    display: flex;
    justify-content: space-between;
}

/* figure */
.figure{
    background: url('../img/wheel.jpg') no-repeat;
    width: 100%;
    background-position-x: -250px;
    background-position-y: 100px;
}
.figure__title{
    color: #e51937;
    font-size: 70px;
    font-weight: 600;
    margin-left: 80px;
}

/* aside */
.aside{
    width: 440px;
    background-color: #E51937;
    color: #ffffff;
    padding: 45px;
}
.aside__title{
    font-size: 28px;
    font-weight: 700;
    line-height: 37px;
    margin-bottom: 11px;
}
.aside__descr{
    font-size: 15px;
    line-height: 18px;
    font-weight: medium;
    margin-bottom: 55px;
}

.merits__list_vertical{
    display: flex;
    flex-direction: column;
}
.merits__list_vertical .merits__item{
    margin-right: 0;
    margin-bottom: 35px;
}

.moreinfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.moreinfo__info{
    color: #ffffff;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.moreinfo__image{
    margin-right: 10px;
}
.moreinfo__order{
    padding: 11px 22px;
    color: #ffffff;
    border: 2px solid #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
}
.moreinfo__order:hover{
    color: #E51937;
    background-color: #ffffff;
    transition: .3s;
}

.specifications__aside .moreinfo{ 
    margin-top: 150px;
}


/* ----------------------------------------------------------------------------------------- */



/* protection */
.protection__wrap{
    width: 1341px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.protection{
    display: flex;
    justify-content: center;
}

/* rating */
.rating__title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}
.rating__list{
    padding-right: 30px;
    margin-bottom: 100px;
}
.rating__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 15px;
}
.rating__name{
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.rating__name span{
    opacity: .7;
    font-size: 10px;
    margin-left: 10px;
}
.rating__assessment{
    display: flex;
    list-style-type: none;
    margin: 0;
}

/* generalization */
.generalization{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.generalization__value{
    font-size: 47px;
    font-weight: bold;
}
.generalization__nominat{
    font-size: 25px;
}
.generalization__image{
    margin-right: 20px;
}


/* detailing */
.detailing{
    display: flex;
    align-items: center;
}
.detailing__images{
    position: relative;
}
.detailing__object{
    margin-left: -100px;
}
.detailing__overlay{
    position: absolute;
    top: 50px;
    z-index: -2;
    right: 0;
}
.detailing__object img{
    width: 100%;
}


.created{
    position: absolute;
    bottom: 0;
    right: 0;
}

.created__name{
    display: flex;
    align-items: center;
    font-size: 8px;
    font-weight: bold;
    text-transform: uppercase;
}

.created__name span{
    color: #ffd22e;
    font-size: 15px;
    text-transform: none;
    margin-left: 5px;
}
.created__descr{
    display: flex;
    justify-content: flex-end;
    font-size: 8px;
}